<div class="
absolute bottom-16 md:bottom-4 w-full -z-10
overflow-scroll
flex flex-row gap-4
scroll-smooth px-4 snap-mandatory snap-always snap-x
">
  <div class="
  bg-gray-100 p-4
  flex flex-col gap-1 justify-center
  rounded-2xl
  snap-center
  ">
    <p>Galería de</p>
    <h1 class="w-64">
      {{postMapping.title}}
    </h1>
  </div>

  <img *ngFor="let image of postMapping.imageFilenames"
  [defaultImage]="'assets/' + image + '_800.jpg'"
  [lazyLoad]="'assets/' + image + '_full.jpg'"
  [useSrcset]="true"

  [id]="image"

  class="
  w-11/12 max-h-[70vh]
  object-contain
  snap-center
  "
  [ngClass]="[
    f === image ? '' : ''
  ]"
  />
</div>
