<div
class="px-4
flex flex-col gap-6
max-w-3xl md:mx-auto"
>
  <h1 class="text-6xl mt-6">
    Archive
  </h1>

  <div class="flex flex-row gap-3 items-center flex-wrap">
    <div *ngFor="let tag of availableTags"
         class="px-4
      cursor-pointer
      rounded-2xl
      "
         [ngClass]="[
        appliedTags.includes(tag) ? 'bg-gray-200' : 'bg-white'
      ]"
         (click)="toggleTagAppliance(tag)"
    >
      #{{tag}}
    </div>
  </div>

  <div *ngFor="let mapping of filteredMappings"
  class="p-4
  bg-gray-100 hover:bg-gray-200
  transition-all duration-200
  cursor-pointer
  flex flex-row items-center justify-between
  rounded-2xl
  "
  [routerLink]="'/p/' + mapping.uuid"
  >
    <div class="flex flex-row gap-3">
      <p class="opacity-40 row-end-1" *ngIf="mapping.uuid !== 'about'">
        {{(mapping.publishDateISO8601).toLocaleDateString('es-MX')}}
      </p>

      <p class="">
        {{mapping.title}}
      </p>
    </div>

    <div class="text-xs hidden md:block">
      {{mapping.tags.join(', ')}}
    </div>
  </div>

  <div *ngIf="filteredMappings.length === 0"
  class="bg-orange-100 rounded-2xl p-4">
    No encontramos ninguna publicación que coincidiera con esos filtros :(
  </div>
</div>
